<a href="https://colab.research.google.com/github/annanya-mathur/Building-my-own-Artificial-Neural-Network/blob/main/Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Modeling and Predicting whether any Station in India has polluted water bodies or not

**For Detecting Water Quality different Parameters are:-**

1.   PH  (==7)
2.   CONDUCTIVITY (µmhos/cm)
3.   Dissolved Oxygen (mg/l)
4.   Temperature
5.   Biochemical Oxygen Demand (mg/l)
6.   NITRATENAN N+ NITRITENANN (mg/l)
7.   TOTAL COLIFORM (MPN/100ml)Mean

In [24]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [86]:
df=pd.read_excel('/content/water-_2_.xls')
df.head(5)

   STATION CODE  ...  year
0          1393  ...  2014
1          1399  ...  2014
2          1475  ...  2014
3          3181  ...  2014
4          3182  ...  2014

[5 rows x 12 columns]

In [88]:
df.sort_values(by='STATION CODE', ascending=True)

     STATION CODE  ...  year
245             2  ...  2013
865            17  ...  2011
375            17  ...  2013
118            17  ...  2014
627            17  ...  2012
..            ...  ...   ...
93           3471  ...  2014
350          3471  ...  2013
391          3473  ...  2013
643          3473  ...  2012
134          3473  ...  2014

[952 rows x 12 columns]

In [89]:
Independent=df[['STATION CODE']]
Dependent=df[['PH']]

In [90]:
X_train,X_test,Y_train,Y_test =train_test_split(Independent,Dependent,test_size=0.3)

In [91]:
from sklearn.ensemble import RandomForestRegressor

In [92]:
rf=RandomForestRegressor()

In [93]:
Y_train

      PH
484  7.0
586  7.1
260  7.5
556  7.7
474  7.1
..   ...
792  7.9
197  8.1
617  7.3
2    6.9
785  8.0

[666 rows x 1 columns]

**Training dataset for dependent variable**

In [94]:
Y_test

      PH
455  8.1
407  8.1
213  5.6
102  7.1
840  7.3
..   ...
324  7.1
341  7.0
231  6.9
602  7.4
600  7.0

[286 rows x 1 columns]

**Testing dataset for dependent variable**

In [95]:
X_train

     STATION CODE
484          3351
586          3464
260          1399
556          2689
474          1631
..            ...
792          2672
197          2949
617          2304
2            1475
785          2653

[666 rows x 1 columns]

# MODELING WITH RANDOM FOREST REGRESSION ALGORITHM

Random Forest is a powerful and versatile supervised machine learning algorithm that grows and combines multiple decision trees to create a “forest.” It can be used for both classification and regression problems 

![randomForest.jpg]()

In [96]:
import numpy as np
Y_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 666 entries, 484 to 785
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PH      666 non-null    float64
dtypes: float64(1)
memory usage: 10.4 KB

In [97]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 666 entries, 484 to 785
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STATION CODE  666 non-null    int64
dtypes: int64(1)
memory usage: 10.4 KB

In [98]:
rf.fit(np.array(X_train).reshape(-1,1),np.array(Y_train).reshape(-1,1))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [120]:
Result=np.array(rf.predict(np.array([[591]])))

In [121]:
if Result>7.0 and Result <7.5:
  print ("Slightly Polluted")
elif Result >7.5:
  print ("Polluted")  
else :
  print ("Not Polluted")

Slightly Polluted